*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.number{

    text-align: center;
    display: flex;
    height: 80px;
    width: 250px;
    border: none;
    background-color: white;
    font-size: 50px;
    justify-items: center;

}
.button{
    background-color: yellow;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 50px;
}
.button:hover{
    box-shadow: 1px 1px 2px white;
}